html {
    scroll-behavior: smooth;
  }

nav {
    height: 65px;
}

body {
    font-size: 100%;
}

.login {
    text-transform: uppercase;
    font-family: Merriweather, Georgia, serif;
    font-weight: 400;
}

.logo img {
    height: 81px;
    width: 81px;;
}

.text h4 {
    text-transform: uppercase;
    font-family: Merriweather, Georgia, serif;
    font-weight: 400;
    /* font-size: 4.2em; */
    font-size: 5.5vw;    
    color: white;
    top: 0;
    margin-top: 10%;
}






.header {
    position: relative;
    background-image: url('heading/header-image.jpg');
    background-size: cover;
}

.header .text {
    margin-top: auto;
    margin-bottom: auto;
    top: 6%;
    position: absolute;
    bottom: 30%;
    text-align: center;
    padding: 90px;
    left: 20%;
    right: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

img {
    width: 100%;
    height: 70%;
    background-size: cover;
}

.header .button {
    margin-top: auto;
    margin-bottom: auto;
    top: 50%;
    position: absolute;
    bottom: 30%;
    text-align: center;
    padding: 90px;
    left: 20%;
    right: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.header .button .a-button {
    background-color:#1d9618;
	border-radius:28px;
	border:3px solid #abd2b0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: Merriweather, Georgia, serif;
    text-transform: uppercase;
    font-weight: 400;
	font-size:17px;
	padding:5px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.header .button .a-button:hover {
    background-color:#5cbf2a;
}



@media only screen and (max-width: 560px) {

    
    .logo img {
        height: 81px;
        width: 81px;;
    }

    .text h4 {
        text-transform: uppercase;
        font-family: Merriweather, Georgia, serif;
        font-weight: 400;
        /* font-size: 4.2em; */
        font-size: 5.5vw;  
        color: white;
        top: 0;
        margin-top: 10%;
    }

    .header {
        position: relative;
        background-image: url('heading/header-image.jpg');
        background-size: cover;
    }

    .header .text {
        margin-top: auto;
        margin-bottom: auto;
        top: 6%;
        position: absolute;
        bottom: 30%;
        text-align: center;
        padding: 90px;
        left: 0%;
        right: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 77%;
    }

    img {
        width: 100%;
        height: 70%;
        background-size: cover;
    }

    .header .button {
        display: none;
        margin-top: auto;
        margin-bottom: auto;
        top: 50%;
        position: absolute;
        bottom: 30%;
        text-align: center;
        padding: 90px;
        left: 20%;
        right: 20%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .header .button .a-button {
        background-color:blue;
        border-radius:28px;
        border:3px solid #abd2b0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family: Merriweather, Georgia, serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size:17px;
        padding:5px 30px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
    }

    .header .button .a-button:hover {
        background-color:#5cbf2a;
    }
    
}


@media all and (max-device-width: 640px){
    h4 {
        font-size: 2.5;
    }
}

@media all and (max-device-width: 320px){
    h4 {
        font-size: 12px;
    }
}